@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 935px) {
    html {
      font-size: 50%; } }

body {
  width: 100%; }

main {
  display: grid;
  grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-start]) [center-end] minmax(2rem, 1fr) [full-end];
  grid-template-rows: 585px repeat(5, min-content); }

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

::selection {
  background-color: #736d7c;
  color: #fbf5f5; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
    border-top-color: rgba(0, 0, 0, 0.5); }
  50% {
    transform: rotate(180deg);
    border-top-color: rgba(0, 0, 255, 0.5); }
  100% {
    transform: rotate(360deg);
    border-top-color: rgba(0, 0, 0, 0.5); } }

.loader_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 3333;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out; }

.vanish {
  transform: scale(3);
  opacity: 0;
  visibility: hidden; }

/* loader 1 */
.loader1, .loader1 div {
  border-radius: 50%;
  padding: 8px;
  border: 2px solid transparent;
  animation: rotate linear 3.5s infinite;
  border-top-color: #736d7c;
  border-bottom-color: #e49290; }

div:hover {
  animation-play-state: paused; }

.loader, .loader * {
  will-change: transform; }

.nav {
  position: fixed;
  background: transparent;
  width: 100%;
  z-index: 1000;
  display: grid;
  grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-start]) [center-end] minmax(2rem, 1fr) [full-end];
  padding: 2rem 0;
  height: 0;
  transition: all 0.4s ease-in-out; }
  .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: center-start / center-end; }
  @media only screen and (max-width: 745px) {
    .nav__menu {
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      background-image: linear-gradient(to right bottom, #665282, #442f5f);
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      opacity: 0;
      clip-path: polygon(0 0, -191% 0%, 50% 53%, 0% 42%);
      transition: all 1s ease-out;
      pointer-events: none; } }
  .nav__menu.open {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    pointer-events: all;
    opacity: 1; }
  .nav ul {
    display: flex;
    list-style: none; }
    @media only screen and (max-width: 745px) {
      .nav ul {
        flex-direction: column; } }
    .nav ul li {
      margin-right: 3rem;
      position: relative; }
      @media only screen and (max-width: 745px) {
        .nav ul li {
          position: relative;
          margin-bottom: 35px;
          border-bottom: 2px solid #fff;
          text-align: center;
          padding-bottom: 6px;
          margin-right: 0;
          transition: all 0.2s ease-in-out; }
          .nav ul li:hover {
            border-bottom-color: #e49290; } }
    .nav ul a {
      transition: all 0.1s ease-in-out;
      color: #fff;
      text-decoration: none;
      font-size: 1.7rem;
      text-transform: uppercase;
      border-bottom: 0px solid #e49290; }
      .nav ul a:hover {
        border-bottom-width: 2px; }
      @media only screen and (max-width: 745px) {
        .nav ul a {
          font-size: 2.7rem;
          transition: all 0.2s ease-in-out; }
          .nav ul a:hover {
            color: #e49290; } }
  .nav #nav-logo {
    text-decoration: none; }
    .nav #nav-logo h3 {
      font-size: 3rem;
      color: #fff;
      text-transform: uppercase;
      position: relative;
      cursor: pointer; }
      .nav #nav-logo h3 span {
        position: absolute;
        left: 16px;
        font-size: 1.4rem;
        top: 10px;
        color: #e49290;
        font-weight: 400; }
        @media only screen and (max-width: 935px) {
          .nav #nav-logo h3 span {
            left: 14px;
            font-size: 1.4rem;
            top: 7px; } }
  .nav__ham {
    cursor: pointer;
    display: none; }
    @media only screen and (max-width: 745px) {
      .nav__ham {
        display: block; } }
    .nav__ham:hover .nav__line:nth-child(2) {
      width: 20px; }
  .nav .cancel {
    position: fixed;
    top: 20px;
    right: 16px;
    z-index: 11; }
    .nav .cancel .nav__line:nth-child(1) {
      transform: rotate(45deg) translate(7px, 6px); }
    .nav .cancel .nav__line:nth-child(2) {
      display: none; }
    .nav .cancel .nav__line:nth-child(3) {
      transform: rotate(-45deg); }
  .nav__line {
    background: #fff;
    height: 2px;
    width: 32px;
    margin-bottom: 8px;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
    display: none; }
    @media only screen and (max-width: 745px) {
      .nav__line {
        display: block; } }

.fixnav {
  transition: all 0.4s ease-in-out;
  height: auto;
  background: #6d5682;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6); }

.hero {
  grid-column: full-start / full-end;
  background-color: #736d7c; }
  .hero__content {
    width: 100%;
    height: 100%;
    position: relative; }
    .hero__content::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to right top, rgba(102, 82, 130, 0.8), rgba(68, 50, 93, 0.8)); }
  .hero__video {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .hero__text {
    position: absolute;
    z-index: 44;
    width: 100%;
    height: 100%;
    justify-items: start;
    align-items: center;
    display: grid;
    grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-start]) [center-end] minmax(2rem, 1fr) [full-end];
    grid-template-rows: 1fr; }
    .hero__text h1 {
      color: #fff;
      text-transform: uppercase;
      font-size: 4.5rem;
      line-height: 62px;
      letter-spacing: 2px;
      grid-column: center-start / center-end; }
      @media only screen and (max-width: 500px) {
        .hero__text h1 {
          font-size: 3.5rem;
          line-height: 43px; } }
      .hero__text h1 span {
        color: #e49290; }
    .hero__text button {
      grid-column: center-start / center-end;
      position: absolute;
      bottom: 132px;
      background-color: #55486b;
      border: 2px solid #e49290;
      width: 240px;
      height: 55px;
      font-size: 2.4rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 600;
      color: #fff;
      border-radius: 58px;
      transition: all 0.3s ease-out;
      outline: none;
      cursor: pointer; }
      .hero__text button:hover {
        border-width: 1px;
        border: 1px solid #55486b;
        transition: all 0.3s ease-out;
        background-color: #e89896;
        color: #55486b;
        box-shadow: 0px 0px 10px 1px #55486b; }
      .hero__text button:focus {
        box-shadow: 0px 0px 10px 1px #e49290; }
  .hero__btnlink {
    display: contents; }

.portfolio {
  grid-column: full-start / full-end;
  background-image: linear-gradient(to right bottom, #665282, #442f5f);
  padding-bottom: 2rem;
  text-align: center; }
  .portfolio__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: 2px;
    margin: 3.5rem 0;
    color: #e49290; }
  .portfolio__content {
    display: grid;
    grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-start]) [center-end] minmax(2rem, 1fr) [full-end]; }
  .portfolio__filter {
    grid-column: center-start / center-end;
    display: flex;
    margin-bottom: 4rem; }
    @media only screen and (max-width: 500px) {
      .portfolio__filter {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 17px; } }
    .portfolio__filter button {
      font-size: 2rem;
      color: #e49290;
      font-weight: 500;
      letter-spacing: 1px;
      padding: 5px 18px;
      text-align: center;
      border: 2px solid;
      border-radius: 3px;
      transition: all 0.4s ease-in;
      display: flex;
      align-items: center;
      background: transparent;
      cursor: pointer; }
      .portfolio__filter button:not(:last-child) {
        margin-right: 29px; }
      @media only screen and (max-width: 500px) {
        .portfolio__filter button {
          font-size: 1.4rem;
          margin-right: 29px; } }
      .portfolio__filter button:hover {
        background: #e49290;
        color: #fff; }
  .portfolio__sites {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 165px;
    row-gap: 37px; }
    @media only screen and (max-width: 745px) {
      .portfolio__sites {
        grid-template-columns: 1fr;
        justify-items: center; } }
  .portfolio__site {
    position: relative; }
    .portfolio__site > img {
      width: 100%;
      border: 5px solid #f3e8fd;
      border-radius: 10px;
      box-shadow: 0 0px 5px rgba(0, 0, 0, 0.9); }
  .portfolio__site .portfolio__overlay {
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    width: 101%;
    opacity: 1;
    transition: all 1s ease-in-out;
    pointer-events: visible; }

@keyframes overlay {
  0% {
    width: 0; }
  100% {
    width: 101%;
    pointer-events: visible; } }
  .portfolio .show {
    display: block !important;
    animation-name: showAnimate;
    animation-duration: 900ms;
    animation-timing-function: ease-in-out; }

@keyframes showAnimate {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translateY(-33px); } }
  .portfolio .hide {
    display: none; }
  .portfolio .tranhide {
    display: none; }
  .portfolio .active {
    background: #e49290;
    color: #42315a; }
  .portfolio__overlay {
    position: absolute;
    top: 3px;
    left: 3px;
    height: 96%;
    background: #564171c7;
    border-radius: 10px;
    display: grid;
    grid-template-columns: min-content min-content;
    place-content: center;
    column-gap: 20px;
    width: 0;
    opacity: 1;
    transition: all 0.5s ease-in-out; }
    .portfolio__overlay img {
      width: 26px;
      margin-left: 10px; }
  .portfolio__info a {
    background: #e49290;
    display: flex;
    place-items: center;
    padding: 3px 10px;
    border: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
    text-decoration: none; }
  .portfolio__info h4 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #5f4682; }
  .portfolio__site.last {
    display: none !important; }
  .portfolio__btn {
    background: #e49290;
    border: 1px solid #fff;
    padding: 13px 45px;
    margin-top: 35px;
    color: #503c6c;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    cursor: pointer; }
    .portfolio__btn:hover {
      background-color: transparent;
      color: #fff; }

.skills {
  grid-column: center-start / center-end;
  margin-bottom: 6rem; }
  .skills__title {
    background: linear-gradient(to right, #665282, #e49290);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 3px;
    margin: 4rem 0; }
  .skills__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    row-gap: 76px; }
    @media only screen and (max-width: 745px) {
      .skills__content {
        grid-template-columns: 1fr;
        justify-items: center; } }
  .skills__skill {
    border-bottom: 2px solid #e49290;
    padding-bottom: 18px; }
    .skills__skill h3 {
      font-size: 3rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center;
      margin-bottom: 2rem;
      color: #736d7c;
      margin-right: 53px; }
      @media only screen and (max-width: 935px) {
        .skills__skill h3 {
          margin-right: 0; } }
  .skills__img {
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right, #736d7c, #e49290);
    padding: 3px;
    border-radius: 50%;
    max-width: 100px; }
    .skills__img img {
      width: 65px; }
      @media only screen and (max-width: 935px) {
        .skills__img img {
          width: 65%; } }
  .skills__img.first {
    grid-column: 2; }
  .skills__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px; }
  .skills__wrap {
    background-color: #fff;
    padding: 14px 0;
    text-align: center;
    border-radius: 50%;
    max-width: 111px; }

.contact {
  grid-column: center-start / center-end; }
  .contact__title {
    font-size: 3.4rem;
    text-transform: uppercase;
    text-align: center;
    color: #5a4676;
    letter-spacing: 2px;
    margin: 4rem 0; }
  .contact__form {
    display: grid;
    justify-content: center; }
  .contact__inputs input {
    width: 336px;
    height: 39px;
    border-radius: 11px;
    color: #5a4676;
    border: 2px solid;
    padding: 0 15px;
    font-size: 1.6rem;
    outline: none;
    transition: all 0.3s ease-in-out; }
    @media only screen and (max-width: 840px) {
      .contact__inputs input {
        width: 90%; } }
    .contact__inputs input:focus {
      box-shadow: 0 0px 5px #665282; }
  .contact__inputs input[type="text"] {
    margin-right: 25px; }
    @media only screen and (max-width: 840px) {
      .contact__inputs input[type="text"] {
        margin-bottom: 20px;
        margin-right: 0px; } }
  .contact textarea {
    padding: 15px;
    height: 233px;
    margin-top: 25px;
    border-radius: 11px;
    color: #5a4676;
    border: 2px solid;
    font-size: 2.3rem;
    outline: none;
    transition: all 0.3s ease-in-out; }
    .contact textarea:focus {
      box-shadow: 0 0px 5px #665282; }
  .contact input[type="submit"] {
    width: 200px;
    margin: 32px auto;
    height: 45px;
    font-size: 2.3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #655181;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 41px;
    transition: all 0.3s ease-in-out;
    cursor: pointer; }
    .contact input[type="submit"]:hover {
      background: transparent;
      color: #736d7c;
      border: 2px solid; }
  .contact ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #736d7c; }
  .contact ::-moz-placeholder {
    /* Firefox 19+ */
    color: #736d7c; }
  .contact :-ms-input-placeholder {
    /* IE 10+ */
    color: #736d7c; }
  .contact :-moz-placeholder {
    /* Firefox 18- */
    color: #736d7c; }

.footer {
  grid-column: full-start / full-end;
  background-image: linear-gradient(to right bottom, #493464, #832960);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 28px; }
  .footer__contact img {
    width: 30px;
    margin-left: 18px; }
    @media only screen and (max-width: 325px) {
      .footer__contact img {
        width: 23px;
        margin-left: 7px; } }
  .footer__copyright {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 100; }
