
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

*,
*::before,
*::after{

    margin: 0;
    padding: 0;
}

$color-primary:#736d7c;
$color-secondary:#e49290;

// Breakpoints Responsive

$bp-large:935px;
$bp-medium:745px;
$bp-small:500px;

html{

    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
    
    @media only screen and (max-width:$bp-large){
        font-size: 50%;
    }
}

body{
	width: 100%;
}
body.ar{
	
	font-family: 'El Messiri', sans-serif;
}


main{

    display: grid;
    grid-template-columns: [full-start] minmax(2rem, 1fr)  [center-start] repeat(8,[col-start] minmax(min-content, 15rem) [col-start]) [center-end] minmax(2rem, 1fr) [full-end];
    grid-template-rows:  585px repeat(5,min-content);
    
}

.hidden
{position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;}

.ar .hidden{

	left: 10000px;
}



::selection{
    background-color:$color-primary;
    color: #fbf5f5;
}


$grey: rgba(0, 0, 0, .5);
$blue: rgba(0, 0, 255, .5);

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotate2 {
	0% {
		transform: rotate(0deg);
		border-top-color: $grey;
	}
	50% {
		transform: rotate(180deg);
		border-top-color: $blue;
	}
	100% {
		transform: rotate(360deg);
		border-top-color: $grey;
	}
}




// h1, h3 {
// 	display: block;
// 	margin: 0px auto;
// 	text-align: center;
// 	font-family: 'Tahoma';
// 	font-weight: lighter;
// 	color: $grey;
// 	letter-spacing: 1.5px;
// }

// h1 {
// 	margin: 50px auto;
// }

@mixin loaderDivMixin {
	border-radius: 50%;
	padding: 8px;
	border: 2px solid transparent;
	animation: rotate linear 3.5s infinite;
}

// .loader {
// 	position: relative;
// 	margin: 75px auto;
// 	width: 150px;
// 	height: 150px;
// 	display: block;
// 	overflow: hidden;
// 	div {
// 		height: 100%;
// 	}
// }

.loader_container{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 3333;
    display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.5s ease-in-out;
}

.vanish{
	transform: scale(3);
	opacity: 0;
	visibility: hidden;
	
}

/* loader 1 */
.loader1, .loader1 div {
	@include loaderDivMixin;
	border-top-color: $color-primary;
	border-bottom-color: $color-secondary;
}



div:hover {
	animation-play-state: paused;
}

.loader, .loader * {
	will-change: transform;
}


