.contact{
    
    grid-column: center-start / center-end;
    
    &__title{
        font-size: 3.4rem;
        text-transform: uppercase;
        text-align: center;
        color: #5a4676;
        letter-spacing: 2px;
        margin: 4rem 0;
    }

    &__form{
        display: grid;
        justify-content: center;
    }

    &__inputs{
        

        input{
            width: 336px;
            height: 39px;
            border-radius: 11px;
            color: #5a4676;
            border: 2px solid;
            padding:  0 15px;
            font-size: 1.6rem;
            outline: none;
            transition: all 0.3s ease-in-out;
            @media only screen and (max-width:840px){
                width: 90%;
            }
            &:focus{

                box-shadow: 0 0px 5px rgba(102, 82, 130, 1);
                
            }
            
        }
        input[type="text"]{

                margin-right: 25px;
                @media only screen and (max-width:840px){
                   margin-bottom: 20px;
                   margin-right: 0px;

                }
            }
    }

    textarea{
        padding: 15px;
        height: 233px;
        margin-top: 25px;
        border-radius: 11px;
        color: #5a4676;
        border: 2px solid;
        font-size: 2.3rem;
        outline: none;
        transition: all 0.3s ease-in-out;
            &:focus{

                box-shadow: 0 0px 5px rgba(102, 82, 130, 1);
                
            }
    }

    input[type="submit"]{
        width: 200px;
        margin: 32px auto;
        height: 45px;
        font-size: 2.3rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        background: #655181;
        color: #fff;
        font-weight: 600;
        border: none;
        border-radius: 41px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        &:hover{

            background: transparent;
            color: $color-primary;
            border: 2px solid;
        }
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $color-primary;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: $color-primary;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: $color-primary;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: $color-primary;
      }
}

.ar .contact__inputs input[type="text"]{

    margin-right: 0;
    margin-left: 25px;
    @media only screen and (max-width:840px){
        margin-left: 0;
    }
}