.hero{

    grid-column: full-start / full-end;
    background-color: $color-primary;

    &__content{
        width: 100%;
        height: 100%;
        position: relative;
        &::after{
            content:'';
            position: absolute;
            top: 0;
            left:0;
            width:100%;
            height:100%;
            background-image: linear-gradient(to right top,rgba(#665282,0.8),rgba(#44325d,0.8));
        }
    }

    &__video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__text{
        position: absolute;
        z-index: 44;
        width: 100%;
        height: 100%;
        justify-items: start;
        align-items: center;
        // margin-left: -19rem;
        display: grid;
        grid-template-columns: [full-start] minmax(2rem, 1fr)  [center-start] repeat(8,[col-start] minmax(min-content, 15rem) [col-start]) [center-end] minmax(2rem, 1fr) [full-end];
        grid-template-rows: 1fr;

        h1{
            color: #fff;
            text-transform: uppercase;
            font-size: 4.5rem;
            line-height: 62px;
            letter-spacing: 2px;
            grid-column: center-start / center-end;
            @media only screen and (max-width:$bp-small){

                font-size: 3.5rem;
                line-height: 43px;
            }

           

            span{
                color: $color-secondary;
            }
        }

       
        button{
            grid-column: center-start / center-end;
            position: absolute;
            bottom: 132px;
            background-color: #e49290;
            width: 240px;
            height: 55px;
            font-size: 2.4rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 600;
            color: #fff;
            border: 0px solid;
            border-radius: 58px;
            transition: all 0.3s ease-out;
            outline:none;
            cursor: pointer;
            &:hover{
                border-width: 1px;
                transition: all 0.3s ease-out;
                background-color: #e89896;


            }
        }
    }

    &__btnlink{
        display: contents;
    }
}