.nav{

    position: fixed;
    background: transparent;
    width: 100%;
    z-index: 1000;
    display: grid;
    grid-template-columns: [full-start] minmax(2rem, 1fr)  [center-start] repeat(8,[col-start] minmax(min-content, 15rem) [col-start]) [center-end] minmax(2rem, 1fr) [full-end];
    padding: 2rem 0;
    height: 0;
    transition: all 0.4s ease-in-out;

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-column: center-start / center-end;
    }

    &__menu{
        @media only screen and (max-width:$bp-medium){
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            background-image: linear-gradient(to right bottom, #665282, #442f5f);
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            opacity: 0;
            clip-path: polygon(0 0, -191% 0%, 50% 53%, 0% 42%);
            transition: all 1s ease-out;
            pointer-events: none;

        }

        &.open{
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
            pointer-events: all;
            opacity: 1;
        }
        
    }

    // .menuemobile{
      
    // }

    ul{
        display: flex;
        list-style: none;
        @media only screen and (max-width:$bp-medium){
           flex-direction: column;
        }

        li{
            margin-right: 3rem;
            position: relative;
            @media only screen and (max-width:$bp-medium){
                position: relative;
                margin-bottom: 35px;
                border-bottom: 2px solid #fff;
                text-align: center;
                padding-bottom: 6px;
                margin-right: 0;
                transition: all 0.2s ease-in-out;
                &:hover{
                    border-bottom-color: $color-secondary;
                }
                
            }

            // &::after{
            //     content: '';
            //     position: absolute;
            //     top: 20px;
            //     left: 0;
            //     width: 100%;
            //     height: 0px;
            //     background-color: $color-secondary;
            //     @media only screen and (max-width:$bp-medium){
            //         display: none;

            //     }
            // }
            
            
            }
            
            a{
                transition: all 0.1s ease-in-out;
                color: #fff;
                text-decoration: none;
                font-size: 1.7rem;
                text-transform: uppercase;
                border-bottom: 0px solid $color-secondary;
                &:hover{
                    border-bottom-width: 2px;
            }
            @media only screen and (max-width:$bp-medium){
                font-size: 2.7rem;
                transition: all 0.2s ease-in-out;
                &:hover{
                    color: $color-secondary;
                }
             }
        }
    }
   

    #nav-logo{

        text-decoration: none;
        font-family:'Roboto', sans-serif;
        h3{
            font-size: 3rem;
            color: #fff;
            text-transform: uppercase;
            position: relative;
            cursor: pointer;

            span{
                position: absolute;
                left: 16px;
                font-size: 1.4rem;
                top: 10px;
                color: $color-secondary;
                font-weight: 400;
                @media only screen and (max-width:$bp-large){
                    left: 14px;
                    font-size: 1.4rem;
                    top: 7px;
                }
            }
        }
    }

    &__ham{
        cursor: pointer;
        
        display: none;
        @media only screen and (max-width:$bp-medium){
            display: block;
        }

         &:hover{
                
            .nav__line:nth-child(2){

                width: 20px;
            }

        }
        
    }

    .cancel{
        position: fixed;
        top: 20px;
        right: 16px;
        z-index: 11;


        .nav__line:nth-child(1){

            transform: rotate(45deg) translate(7px, 6px);
        }
        .nav__line:nth-child(2){

            display: none;
        }
        .nav__line:nth-child(3){

            transform: rotate(-45deg);
        }
    }

    &__line{
        background: #fff;
        height: 2px;
        width: 32px;
        margin-bottom: 8px;
        border-radius: 20px;
        transition: all 0.5s ease-in-out;
        display: none;
        @media only screen and (max-width:$bp-medium){
            display: block;
        }

        
        
    
    }

    
    




    
}


.fixnav{

    transition: all 0.4s ease-in-out;
    height:auto;
    background: #6d5682;
    box-shadow: 0 1px 5px rgba(0,0,0,0.6);
}

.ar nav ul li{

    margin-left: 3rem;
    margin-right: 0;

    a{
        font-size:1.9rem;
    }
}

.ar .nav .cancel{


    left: 16px;
    right: auto;
    @media only screen and (max-width:350px){
        left: 65px;
    }

}

.ar .nav__logo {


    margin-right: 21px;
}

.ar .nav{

    right: 0;
}