.portfolio{

    grid-column: full-start / full-end;
    background-image: linear-gradient(to right bottom, #665282,#442f5f);
    padding-bottom: 2rem;
    text-align: center;

    &__title{
        text-align: center;
        text-transform: uppercase;
        font-size: 4rem;
        letter-spacing: 2px;
        margin: 3.5rem 0;
        color: $color-secondary;
    }

    &__content{
        display: grid;
        grid-template-columns: [full-start] minmax(2rem, 1fr)  [center-start] repeat(8,[col-start] minmax(min-content, 15rem) [col-start]) [center-end] minmax(2rem, 1fr) [full-end];
    }

    &__filter{
        grid-column: center-start / center-end;
        display: flex;
        margin-bottom: 4rem;
        @media only screen and (max-width:$bp-small){
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 17px;
        }

         button{
            font-size: 2rem;
            color: #e49290;
            font-weight: 500;
            letter-spacing: 1px;
            padding: 5px 18px;
            text-align: center;
            border: 2px solid;
            border-radius: 3px;
            transition: all 0.4s ease-in;
            display: flex;
            align-items: center;
            background: transparent;
            cursor: pointer;
            &:not(:last-child){
                margin-right: 29px;
            }
            @media only screen and (max-width:$bp-small){
               font-size: 1.4rem;
               margin-right: 29px;
            }

            &:hover{
                background:#e49290;
                color: #fff;
            }

            
        }
    }

    &__sites{
        grid-column: center-start / center-end;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 165px;
        row-gap: 37px;
        @media only screen and (max-width:$bp-medium){
            grid-template-columns: 1fr;
            justify-items: center;
        }

    }

    

    &__site{

        position: relative;


    
       & > img{
            width: 100%;
            border: 5px solid #f3e8fd;
            border-radius: 10px;
            box-shadow: 0 0px 5px rgba(0,0,0,0.9);
            
        }
    }

   

    &__site &__overlay{
        
        // animation-name: overlay;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        width: 101%;
        opacity: 1;
        transition: all 1s ease-in-out;
        pointer-events: visible;


        @keyframes overlay {


            0%{
                width: 0;
            }

            100%{
                width: 101%;
                pointer-events: visible;
                
            }
            
        }
    }

    .show{
        display:block !important;

        animation-name: showAnimate;
        animation-duration: 900ms;
        animation-timing-function: ease-in-out;

        @keyframes showAnimate {

            0%{
               opacity: 0;
                
            }

            100%{

                opacity: 1;
                transform: translateY(-33px);
                
            }
            
        }

    }
    .hide{
        display: none;
       
        // opacity: 0;
        // transition: all 0.5s ease-in-out;
        
    }

    .tranhide{
        display: none;
    }

    .active{
        background:#e49290;
        color: #42315a;
    }

    &__overlay{

        position: absolute;
        top: 3px;
        left: 3px;
        height: 96%;
        background: #564171c7;
        border-radius: 10px;
        display: grid;
        grid-template-columns: min-content min-content;
        place-content: center;
        column-gap: 20px;
        width: 0;
        
        opacity: 1;
        transition: all 0.5s ease-in-out;
        // pointer-events: none;
        
        img{
            width: 26px;
            margin-left: 10px;
        }
    }

    &__info{

        
        // pointer-events: none;
        // display: none;
        a{
            background: #e49290;
        display: flex;
        place-items: center;
        padding: 3px 10px;
        border: 1px solid #fff;
        border-radius: 3px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
        text-decoration: none;
        }
    
        
        h4{
            font-size: 2rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: #5f4682;

        }
      
    }

    &__site.last{
        display: none !important;
    }

    &__btn{
            background: #e49290;
            border: 1px solid #fff;
            padding: 13px 45px;
            margin-top: 35px;
            color: #503c6c;
            font-size: 2rem;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            border-radius: 3px;
            transition: all 0.3s ease-in-out;
            cursor: pointer;

            &:hover{

                background-color: transparent;
                color: #fff;
            }
    }


}